body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section .timeline-card-content {
  box-sizing: content-box;
}

div.calendrier {
  margin:2em;
  background-image: url("img/fond.jpg");
  border-radius: 5px;
  box-sizing: content-box;
}

div.timeline-horz-card-wrapper {
  min-width: 40%;
  max-width: 60%;
}

div.card-media-wrapper {
  min-height: 700px;
  overflow: auto;
}

div.timeline-circle {
  color: white; 
}

div.timeline-circle.active {
  background: orange; 
}

div.timeline-circle:hover {
  background: blue; 
}

div.timeline-circle:has(.locked) {
  background: grey; 
}

div.timeline-circle:has(.locked).active {
  background: saddlebrown; 
}

div.timeline-circle:has(.locked):hover {
  background: #444; 
}

h1.rc-card-title, h2.card-sub-title {
  text-align: center;
  margin: 0;
}